<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javaFile.mapper.QuizItemMapper">
    <insert id="insertQuizItem" parameterType="javaFile.bean.QuizItem">
        INSERT INTO quizItem(initializedBox, stepsString, count, questionZh, stepsLength,
         maxUpdateTimes, answer, descriptionZh, chartPath, infoPath) VALUES('[0,2,7,2,1,5,7,1,4,8]',
         #{stepsString}, #{count}, #{questionZh}, #{stepsLength}, #{maxUpdateTimes}, #{answer}, #{descriptionZh},
         #{chartPath}, #{infoPath});
    </insert>
</mapper>